<div id="logo"></div>
<div id="title">BA SPUTNIK</div>
<div id="header-menu">
    <div id="notifications">
        <i class="fa fa-bell-o"></i>
    </div><div id="menu-btn">
        <i class="fa fa-bars"></i>
    </div><div id="user-menu">
        <span id="name">
            <%= Sputnik.user.name %>
        </span>
        <span id="surname">
            <%= Sputnik.user.surname %>
        </span>
        <i class="fa fa-chevron-down"></i>
    </div>
</div>