<div id="logo">
    <img src="/static/imgs/logo_top.png" id="top-logo">
    <img src="/static/imgs/logo_left.png" id="left-logo">
    <img src="/static/imgs/logo_right.png" id="right-logo">
    <div id="legend-container">
        <div id="legend">BA SPUTNIK</div>
    </div>
</div>