<div id="actions" class="noselect">
    <div id="border-top"></div>
    <div id="actions-fadein">
        <div id="actions-title">
            Ok, let's launch some space rockets!
        </div>
        <img src="/static/imgs/menu-reports.png" id="menu-reports">
        <img src="/static/imgs/menu-stats.png" id="menu-config">
        <img src="/static/imgs/menu-settings.png" id="menu-settings">

        <div id="bottom-legend">
            don't stop me now...
        </div>
    </div>
</div>
