<div id="actions" class="noselect">
    <div id="border-top"></div>
    <div id="actions-title">
        Ok, let's launch some space rockets!
    </div>
    <img src="/static/imgs/menu-reports.png">
    <img src="/static/imgs/menu-stats.png">
    <img src="/static/imgs/menu-settings.png">
    <div id="bottom-legend">
        don't stop me now...
    </div>
</div>