{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<script>
    new Sputnik.App();
</script>

<div id="wrap">
    <div id="login">
        <div id="circle-border">
            <div id="circle-img"></div>
        </div>
        <div id="form">
            <input type="text" id="username" title="Nombre de usuario" placeholder="NOMBRE USUARIO">
            <input type="password" id="password" title="Contraseña" placeholder="--------">
        </div>
        <div id="actions">
            <span id="keep-signin">RECORDARME</span>
            <span id="login-btn">LOGIN</span>
        </div>
    </div>
</div>
<div id="footer">
    <div id="disclaimer">
        Hola soy un disclaimer de cosas que son importantes de escribir en un lugar como este
    </div>
    <div id="copyright">
        copyright 2015
    </div>
</div>
{% endblock %}