{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<script>
    new Sputnik.App();
</script>

<div id="wrap">
    <div id="login">
        <div id="circle-img">
            <img src="/static/img/user.png">
        </div>
        <div id="form">
            <input type="text" id="username" title="Nombre de usuario" placeholder="NOMBRE USUARIO">
            <input type="password" id="password" title="Contraseña" placeholder="********">
        </div>
        <div id="options">
        </div>
    </div>
</div>
<div id="footer">
    <div id="disclaimer">
        Hola soy un disclaimer de cosas que son importantes de escribir en un lugar como este
    </div>
    <div id="copyright">
        copyright 2015
    </div>
</div>
{% endblock %}