html, body, #main {
  height: 100%; }

html {
  background-size: cover;
  background: url("/static/imgs/background.png") center; }

body {
  background: rgba(0, 0, 0, 0.34);
  overflow: hidden; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#logo-container {
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10em;
  background: none;
  background: -webkit-radial-gradient(10em 50%, rgba(19, 179, 147, 0.58), transparent);
  background: -o-radial-gradient(10em 50%, rgba(19, 179, 147, 0.58), transparent);
  background: -moz-radial-gradient(10em 50%, rgba(19, 179, 147, 0.58), transparent);
  background: radial-gradient(10em 50%, rgba(19, 179, 147, 0.58), transparent); }
  #logo-container #logo {
    display: inline-block; }
    #logo-container #logo img {
      height: 20em; }

#wrap {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  top: 50%;
  margin-top: -200px;
  background: none;
  background: -webkit-radial-gradient(350px 50%, rgba(19, 179, 147, 0.58), transparent);
  background: -o-radial-gradient(350px 50%, rgba(19, 179, 147, 0.58), transparent);
  background: -moz-radial-gradient(350px 50%, rgba(19, 179, 147, 0.58), transparent);
  background: radial-gradient(350px 50%, rgba(19, 179, 147, 0.58), transparent); }
  #wrap #login {
    display: inline-block;
    width: 350px;
    height: 500px;
    overflow: visible;
    -o-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -o-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -o-animation-timing-function: cubic-bezier(1, 0, 1, 1);
    -moz-animation-timing-function: cubic-bezier(1, 0, 1, 1);
    -webkit-animation-timing-function: cubic-bezier(1, 0, 1, 1);
    animation-timing-function: cubic-bezier(1, 0, 1, 1); }
    #wrap #login #circle-border {
      position: relative;
      display: inline-block;
      height: 10em;
      width: 10em;
      border-radius: 10em;
      overflow: hidden;
      border: solid 0.4em #51E2C6;
      margin-bottom: 1em; }
      #wrap #login #circle-border #circle-img {
        display: inline-block;
        height: 8em;
        width: 8em;
        border-radius: 8em;
        background: #333;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -4em;
        margin-left: -4em; }
    #wrap #login #form input {
      font-size: 1.7em;
      box-sizing: content-box;
      width: 10em;
      border: none;
      background: #333;
      color: #51E2C6;
      margin-bottom: 0.4em;
      text-align: center;
      padding: 0.2em 0.6em;
      font-family: Lato, sans-serif;
      font-weight: 300;
      outline: none; }
      #wrap #login #form input#username {
        -webkit-border-top-left-radius: 0.5em;
        -webkit-border-top-right-radius: 0.5em;
        -moz-border-radius-topleft: 0.5em;
        -moz-border-radius-topright: 0.5em;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
        text-transform: uppercase; }
      #wrap #login #form input#password {
        -webkit-border-bottom-left-radius: 0.5em;
        -webkit-border-bottom-right-radius: 0.5em;
        -moz-border-radius-bottomleft: 0.5em;
        -moz-border-radius-bottomright: 0.5em;
        border-bottom-left-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
        letter-spacing: 0.3em; }
      #wrap #login #form input::-webkit-input-placeholder {
        color: #51E2C6; }
      #wrap #login #form input:-moz-placeholder {
        color: #51E2C6; }
      #wrap #login #form input::-moz-placeholder {
        color: #51E2C6; }
      #wrap #login #form input:-ms-input-placeholder {
        color: #51E2C6; }
    #wrap #login #actions {
      font-family: Lato, sans-serif;
      font-weight: 300;
      line-height: 2em; }
      #wrap #login #actions #keep-signin {
        vertical-align: middle;
        cursor: pointer;
        color: #111;
        margin-right: 1em;
        font-size: 1.5em; }
        #wrap #login #actions #keep-signin.active {
          color: #51E2C6; }
      #wrap #login #actions #login-btn {
        vertical-align: middle;
        font-size: 2em;
        cursor: pointer;
        color: #51E2C6; }

#footer {
  font-family: Lato, sans-serif;
  font-weight: 400;
  position: fixed;
  width: 100%;
  bottom: 2em;
  left: 0;
  font-size: 1.3em;
  text-align: center;
  line-height: 1.7em; }
  #footer #disclaimer {
    color: #333333; }
  #footer #copyright {
    color: #00efbf; }

#header {
  font-size: 1.7em;
  width: 100%;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  -o-animation-duration: 400ms;
  -moz-animation-duration: 400ms;
  -webkit-animation-duration: 400ms;
  animation-duration: 400ms;
  -o-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -o-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear; }
  #header #logo {
    display: inline-block;
    width: 1em;
    height: 1em;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 0.2em 0.5em;
    border-right: solid 1px #333;
    background: url("/static/imgs/header-logo.png") no-repeat center;
    background-size: contain; }
  #header #title {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #ddd;
    display: inline-block;
    height: 100%;
    vertical-align: super;
    margin-left: 0.4em; }
  #header #header-menu {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    color: #999; }
    #header #header-menu div {
      cursor: pointer;
      padding: 0 0.6em;
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      border-left: solid 1px #333; }
      #header #header-menu div * {
        vertical-align: sub; }
      #header #header-menu div i {
        font-size: 0.7em; }
      #header #header-menu div span {
        font-family: Lato, sans-serif;
        font-weight: 300; }

#main-menu {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  margin-top: -150px; }
  #main-menu #actions {
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    max-height: 0;
    padding: 0 3em;
    color: #ccc;
    font-family: Lato, sans-serif;
    position: relative;
    -webkit-border-bottom-left-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; }
    #main-menu #actions #border-top {
      width: 100%;
      height: 5px;
      background: #51E2C6;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 10px; }
    #main-menu #actions #actions-fadein {
      opacity: 0; }
      #main-menu #actions #actions-fadein img {
        margin: 0 0.8em;
        cursor: pointer; }
      #main-menu #actions #actions-fadein #actions-title {
        cursor: default;
        font-size: 1.5em;
        margin-bottom: 0.8em; }
      #main-menu #actions #actions-fadein #bottom-legend {
        cursor: default;
        text-align: right;
        margin-top: 1em;
        color: #888; }

@keyframes open-horizontally {
  from {
    left: 50%;
    width: 0; }
  to {
    left: 0;
    width: 100%; } }
@keyframes open-vertically {
  from {
    max-height: 0;
    padding: 0 3em; }
  to {
    max-height: 400px;
    padding: 1em 3em; } }
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
#main-menu #border-top, #main-menu #actions, #main-menu #actions-fadein {
  -o-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }
#main-menu #border-top {
  -o-animation-duration: 600ms;
  -moz-animation-duration: 600ms;
  -webkit-animation-duration: 600ms;
  animation-duration: 600ms;
  -o-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -o-animation-name: open-horizontally;
  -moz-animation-name: open-horizontally;
  -webkit-animation-name: open-horizontally;
  animation-name: open-horizontally;
  -o-animation-delay: 0;
  -moz-animation-delay: 0;
  -webkit-animation-delay: 0;
  animation-delay: 0; }
#main-menu #actions {
  -o-animation-duration: 700ms;
  -moz-animation-duration: 700ms;
  -webkit-animation-duration: 700ms;
  animation-duration: 700ms;
  -o-animation-timing-function: cubic-bezier(0.25, 0, 0.82, 1);
  -moz-animation-timing-function: cubic-bezier(0.25, 0, 0.82, 1);
  -webkit-animation-timing-function: cubic-bezier(0.25, 0, 0.82, 1);
  animation-timing-function: cubic-bezier(0.25, 0, 0.82, 1);
  -o-animation-name: open-vertically;
  -moz-animation-name: open-vertically;
  -webkit-animation-name: open-vertically;
  animation-name: open-vertically;
  -o-animation-delay: 600ms;
  -moz-animation-delay: 600ms;
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms; }
#main-menu #actions-fadein {
  -o-animation-duration: 700ms;
  -moz-animation-duration: 700ms;
  -webkit-animation-duration: 700ms;
  animation-duration: 700ms;
  -o-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -o-animation-name: fadein;
  -moz-animation-name: fadein;
  -webkit-animation-name: fadein;
  animation-name: fadein;
  -o-animation-delay: 810ms;
  -moz-animation-delay: 810ms;
  -webkit-animation-delay: 810ms;
  animation-delay: 810ms; }

/*# sourceMappingURL=app.css.map */
