html, body, #main {
  height: 100%;
}

html {
  background-size: cover;
  background: url('/static/imgs/background.png') center;
}

body {
  background: rgba(0, 0, 0, 0.34);
  overflow: hidden;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@import 'logo';
@import 'login';
@import 'disclaimer';
@import 'header';
@import 'mainMenu';