@import 'mixin';
@import 'logo';

#footer {
  font-family: Lato, sans-serif;
  font-weight: 400;
  position: fixed;
  width: 100%;
  bottom: 2em;
  left: 0;
  font-size: 1.3em;
  text-align: center;
  line-height: 1.7em;
  #disclaimer {
    color: #333333;
  }
  #copyright {
    color: #00efbf;
  }

  &.fadein {
    opacity: 0;
    @include animation-duration(1s);
    @include animation-iteration(1);
    @include animation-name(disclaimer-fadein);
    @include animation-timing(linear);
    @include animation-fill(forwards);
    @include animation-delay($logo-fall-ended);
  }
}


@keyframes disclaimer-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
