#header {
  font-size: 1.7em;
  width: 100%;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;

  $animation-duration: 400ms;
  $animation-iteration: 1;
  $animation-timing: linear;
  -o-animation-duration: $animation-duration;
  -moz-animation-duration: $animation-duration;
  -webkit-animation-duration: $animation-duration;
  animation-duration: $animation-duration;
  -o-animation-iteration-count: $animation-iteration;
  -moz-animation-iteration-count: $animation-iteration;
  -webkit-animation-iteration-count: $animation-iteration;
  animation-iteration-count: $animation-iteration;
  -o-animation-timing-function: $animation-timing;
  -moz-animation-timing-function: $animation-timing;
  -webkit-animation-timing-function: $animation-timing;
  animation-timing-function: $animation-timing;

  #logo {
    display: inline-block;
    width: 1em;
    height: 1em;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 0.2em 0.5em;
    border-right: solid 1px #333;
    background: url('/static/imgs/header-logo.png') no-repeat center;
    background-size: contain;
  }

  #title {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #ddd;
    display: inline-block;
    height: 100%;
    vertical-align: super;
    margin-left: 0.4em;
  }

  #header-menu {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    color: #999;
    div {
      cursor: pointer;
      padding: 0 0.6em;
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      border-left: solid 1px #333;
      * {
        vertical-align: sub;
      }
      i {
        font-size: 0.7em;
      }
      span {
        font-family: Lato, sans-serif;
        font-weight: 300;
      }
    }

  }
}