#wrap {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  top: 50%;
  margin-top: -200px;
  background: none;
  $green-background: rgba(19, 179, 147, 0.58);
  background: -webkit-radial-gradient(350px 50%, $green-background, transparent);
  background: -o-radial-gradient(350px 50%, $green-background, transparent);
  background: -moz-radial-gradient(350px 50%, $green-background, transparent);
  background: radial-gradient(350px 50%, $green-background, transparent);
  #login {
    display: inline-block;
    width: 350px;
    height: 500px;
    overflow: visible;
    $green-color: #51E2C6;

    $circle-size: 140px;
    $border-size: 5px;
    $circle-space: 20px;
    #circle-border {
      position: relative;
      display: inline-block;
      height: $circle-size + $circle-space;
      width: $circle-size + $circle-space;
      border-radius: $circle-size + $circle-space;
      overflow: hidden;
      border: solid $border-size $green-color;
      #circle-img {
        display: inline-block;
        height: $circle-size;
        width: $circle-size;
        border-radius: $circle-size;
        background: #333;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -$circle-size/2;
        margin-left: -$circle-size/2;
      }
      margin-bottom: 1em;
    }


    #form {
      input {
        font-size: 2em;
        box-sizing: content-box;
        width: 10em;
        border: none;
        background: #333;
        color: $green-color;
        margin-bottom: 0.4em;
        text-align: center;
        padding: 0.2em 0.6em;
        $border-radius: 0.5em;
        font-family: Lato, sans-serif;
        font-weight: 300;
        outline: none;
        &#username {
          -webkit-border-top-left-radius: $border-radius;
          -webkit-border-top-right-radius: $border-radius;
          -moz-border-radius-topleft: $border-radius;
          -moz-border-radius-topright: $border-radius;
          border-top-left-radius: $border-radius;
          border-top-right-radius: $border-radius;
          text-transform: uppercase;
        }

        &#password {
          -webkit-border-bottom-left-radius: $border-radius;
          -webkit-border-bottom-right-radius: $border-radius;
          -moz-border-radius-bottomleft: $border-radius;
          -moz-border-radius-bottomright: $border-radius;
          border-bottom-left-radius: $border-radius;
          border-bottom-right-radius: $border-radius;
          letter-spacing: 0.3em;
        }

        &::-webkit-input-placeholder {
          color: $green-color;
        }
        &:-moz-placeholder {
          color: $green-color;
        }
        &::-moz-placeholder {
          color: $green-color;
        }
        &:-ms-input-placeholder {
          color: $green-color;
        }
      }
    }

    #actions {
      font-family: Lato, sans-serif;
      font-weight: 300;
      line-height: 2em;
      #keep-signin {
        vertical-align: middle;
        cursor: pointer;
        color: #111;
        margin-right: 1em;
        font-size: 1.7em;
        &.active {
          color: $green-color;
        }
      }
      #login-btn {
        vertical-align: middle;
        font-size: 2.4em;
        cursor: pointer;
        color: $green-color;
      }
    }

  }
}

#footer {
  font-family: Lato, sans-serif;
  font-weight: 400;
  position: fixed;
  width: 100%;
  bottom: 2em;
  left: 0;
  font-size: 1.3em;
  text-align: center;
  line-height: 1.7em;
  #disclaimer {
    color: #333333;
  }
  #copyright {
    color: #00efbf;
  }
}
