@import 'mixin';

$logo-height: 20em;

#logo-container {
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -$logo-height/2;

  background: none;
  $green-background: rgba(19, 179, 147, 0.58);
  background: -webkit-radial-gradient($logo-height/2 50%, $green-background, transparent);
  background: -o-radial-gradient($logo-height/2 50%, $green-background, transparent);
  background: -moz-radial-gradient($logo-height/2 50%, $green-background, transparent);
  background: radial-gradient($logo-height/2 50%, $green-background, transparent);

  #logo {
    position: relative;
    display: inline-block;
    height: $logo-height;
    width: $logo-height*255/280;
    img {
      height: $logo-height;
      opacity: 0;
      position: absolute;
      top: 0;
    }
    #top-logo, #left-logo {
      left: 0;
    }
    #right-logo {
      right: 0;
    }

    #legend-container {
      font-family: Lato, sans-serif;
      font-weight: 300;
      color: #eee;
      position: absolute;
      left: 50%;
      top: $logo-height;
      $legend-width: 200em;
      width: $legend-width;
      margin-left: -$legend-width/2;
      #legend {
        opacity: 0;
        letter-spacing: 0;
        font-size: 2.2em;
        white-space: nowrap;
      }
    }
  }
}

@keyframes legend-animation {
  0% {
    letter-spacing: 3em;
    opacity: 0;
    $blur: 10px;
    -webkit-filter: blur($blur);
    -moz-filter: blur($blur);
    -o-filter: blur($blur);
    filter: blur($blur);
  }
  25% {
    opacity: 1;
  }
  50% {
    letter-spacing: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

$animation-iteration: 1;
$animation-fill: forwards;

$legend-animation-duration: 4s;
$legend-animation-delay: 1s;
$legend-animation-timing: cubic-bezier(0.4, 0, 1, 1);
$legend-animation-name: legend-animation;

#legend {
  @include animation-iteration($animation-iteration);
  @include animation-fill($animation-fill);
  @include animation-duration($legend-animation-duration);
  @include animation-timing($legend-animation-timing);
  @include animation-name($legend-animation-name);
  @include animation-delay($legend-animation-delay);
}

$logo-blur: 10px;
@keyframes top-logo-animation {
  0% {
    opacity: 0;
    -webkit-filter: blur($logo-blur);
    -moz-filter: blur($logo-blur);
    -o-filter: blur($logo-blur);
    filter: blur($logo-blur);
    top: -$logo-height/3;
  }
  25% {
    opacity: 1;
  }
  50% {
    top: 0;
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    filter: blur(0px);
  }
}

@keyframes right-logo-animation {
  0% {
    opacity: 0;
    -webkit-filter: blur($logo-blur);
    -moz-filter: blur($logo-blur);
    -o-filter: blur($logo-blur);
    filter: blur($logo-blur);
    top: $logo-height/3;
    right: -$logo-height/3;
  }
  25% {
    opacity: 1;
  }
  50% {
    top: 0;
    right: 0;
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    filter: blur(0px);
  }
}

@keyframes left-logo-animation {
  0% {
    opacity: 0;
    -webkit-filter: blur($logo-blur);
    -moz-filter: blur($logo-blur);
    -o-filter: blur($logo-blur);
    filter: blur($logo-blur);
    top: $logo-height/3;
    left: -$logo-height/3;
  }
  25% {
    opacity: 1;
  }
  50% {
    top: 0;
    left: 0;
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    filter: blur(0px);
  }
}


$logo-animation-duration: 4s;
$logo-animation-timing: ease-out;
$logo-animation-delay: 1s;
$top-logo-animation-name: top-logo-animation;
$right-logo-animation-name: right-logo-animation;
$left-logo-animation-name: left-logo-animation;

#logo {
  #top-logo, #right-logo, #left-logo {
    @include animation-iteration($animation-iteration);
    @include animation-fill($animation-fill);
    @include animation-duration($logo-animation-duration);
    @include animation-timing($logo-animation-timing);
    @include animation-delay($logo-animation-delay);
  }
  #top-logo {
    @include animation-name($top-logo-animation-name);
  }
  #right-logo {
    @include animation-name($right-logo-animation-name);
  }
  #left-logo {
    @include animation-name($left-logo-animation-name);
  }
}