$logo-height: 20em;

#logo-container {
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -$logo-height/2;

  background: none;
  $green-background: rgba(19, 179, 147, 0.58);
  background: -webkit-radial-gradient($logo-height/2 50%, $green-background, transparent);
  background: -o-radial-gradient($logo-height/2 50%, $green-background, transparent);
  background: -moz-radial-gradient($logo-height/2 50%, $green-background, transparent);
  background: radial-gradient($logo-height/2 50%, $green-background, transparent);

  #logo {
    display: inline-block;
    img {
      height: $logo-height;
    }
  }
}
