#main-menu {
  $menu-height: 300px;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  margin-top: -$menu-height/2;
  #actions {
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    max-height: 0;
    padding: 0 3em;
    color: #ccc;
    font-family: Lato, sans-serif;
    position: relative;

    $border-radius: 20px;
    -webkit-border-bottom-left-radius: $border-radius;
    -webkit-border-bottom-right-radius: $border-radius;
    -moz-border-radius-bottomleft: $border-radius;
    -moz-border-radius-bottomright: $border-radius;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    #border-top {
      width: 100%;
      height: 5px;
      background: #51E2C6;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 10px;
    }

    #actions-fadein {
      opacity: 0;
      img {
        margin: 0 0.8em;
        cursor: pointer;
      }
      #actions-title {
        cursor: default;
        font-size: 1.5em;
        margin-bottom: 0.8em;
      }
      #bottom-legend {
        cursor: default;
        text-align: right;
        margin-top: 1em;
        color: #888;
      }
    }
  }
}

@keyframes open-horizontally {
  from {
    left: 50%;
    width: 0;
  }
  to {
    left: 0;
    width: 100%;
  }
}

@keyframes open-vertically {
  from {
    max-height: 0;
    padding: 0 3em;
  }
  to {
    max-height: 400px;
    padding: 1em 3em;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

$animation-iteration: 1;
$animation-fill: forwards;

$border-animation-duration: 600ms;
$border-animation-delay: 0;
$border-animation-timing: ease-out;
$border-animation-name: open-horizontally;

$vertical-animation-duration: 700ms;
$vertical-animation-delay: $border-animation-duration;
$vertical-animation-timing: cubic-bezier(0.25, 0, 0.82, 1);
$vertical-animation-name: open-vertically;

$fadein-animation-duration: 700ms;
$fadein-animation-delay: $vertical-animation-delay + $vertical-animation-duration*0.3;
$fadein-animation-timing: linear;
$fadein-animation-name: fadein;

#main-menu {
  #border-top, #actions, #actions-fadein {
    -o-animation-iteration-count: $animation-iteration;
    -moz-animation-iteration-count: $animation-iteration;
    -webkit-animation-iteration-count: $animation-iteration;
    animation-iteration-count: $animation-iteration;

    -webkit-animation-fill-mode: $animation-fill;
    -moz-animation-fill-mode: $animation-fill;
    -o-animation-fill-mode: $animation-fill;
    animation-fill-mode: $animation-fill;
  }
  #border-top {
    -o-animation-duration: $border-animation-duration;
    -moz-animation-duration: $border-animation-duration;
    -webkit-animation-duration: $border-animation-duration;
    animation-duration: $border-animation-duration;

    -o-animation-timing-function: $border-animation-timing;
    -moz-animation-timing-function: $border-animation-timing;
    -webkit-animation-timing-function: $border-animation-timing;
    animation-timing-function: $border-animation-timing;

    -o-animation-name: $border-animation-name;
    -moz-animation-name: $border-animation-name;
    -webkit-animation-name: $border-animation-name;
    animation-name: $border-animation-name;

    -o-animation-delay: $border-animation-delay;
    -moz-animation-delay: $border-animation-delay;
    -webkit-animation-delay: $border-animation-delay;
    animation-delay: $border-animation-delay;
  }
  #actions {
    -o-animation-duration: $vertical-animation-duration;
    -moz-animation-duration: $vertical-animation-duration;
    -webkit-animation-duration: $vertical-animation-duration;
    animation-duration: $vertical-animation-duration;

    -o-animation-timing-function: $vertical-animation-timing;
    -moz-animation-timing-function: $vertical-animation-timing;
    -webkit-animation-timing-function: $vertical-animation-timing;
    animation-timing-function: $vertical-animation-timing;

    -o-animation-name: $vertical-animation-name;
    -moz-animation-name: $vertical-animation-name;
    -webkit-animation-name: $vertical-animation-name;
    animation-name: $vertical-animation-name;

    -o-animation-delay: $vertical-animation-delay;
    -moz-animation-delay: $vertical-animation-delay;
    -webkit-animation-delay: $vertical-animation-delay;
    animation-delay: $vertical-animation-delay;
  }
  #actions-fadein {
    -o-animation-duration: $fadein-animation-duration;
    -moz-animation-duration: $fadein-animation-duration;
    -webkit-animation-duration: $fadein-animation-duration;
    animation-duration: $fadein-animation-duration;

    -o-animation-timing-function: $fadein-animation-timing;
    -moz-animation-timing-function: $fadein-animation-timing;
    -webkit-animation-timing-function: $fadein-animation-timing;
    animation-timing-function: $fadein-animation-timing;

    -o-animation-name: $fadein-animation-name;
    -moz-animation-name: $fadein-animation-name;
    -webkit-animation-name: $fadein-animation-name;
    animation-name: $fadein-animation-name;

    -o-animation-delay: $fadein-animation-delay;
    -moz-animation-delay: $fadein-animation-delay;
    -webkit-animation-delay: $fadein-animation-delay;
    animation-delay: $fadein-animation-delay;

  }
}